/* Custom CSS */

.comments-container #disqus_thread:before,
.entry+.home-sections-container .home-sections:before,
.entry-nav:before,
.footer:before,
.header:after,
.home-section+.home-section:before,
.prev-entry~.next-entry:before {
  content       : "";
  display       : block;
  width         : 4em;
  border-bottom : .125em solid #cddc39;
}

ul.social-menu a {
    color: #cddc39
}
